{% extends 'base.html.twig'%}

{% block title %}
    Categorias
{% endblock title %}

{% block body %}

    {{ form(form) }}
    
    {% for categoria in lstCat %}
        <h1>{{ categoria.nombre}}</h1>
    {% endfor %}

{% endblock %}