<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %} | HIBENTUS</title>
        {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
        {% block stylesheets %}
             <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
             <link rel="stylesheet" href="{{ asset('css/estilos.css') }}">
        {% endblock %}

        {% block javascripts %}
            {#{{ encore_entry_script_tags('app') }}#}
        {% endblock %}
    </head>
    <body>

        


        {% include "inc/header.html.twig" %}

        <div id="wrapper" class="wrap_cnt">
            <main class="content">
                {% for flash_message in app.session.flashbag.get('danger') %}
                    <div id="flash-notice">
                        {{ flash_message }}
                    </div>
                {% endfor %}
                {% for flash_message in app.session.flashbag.get('success') %}
                    <div id="flash-success">
                        {{ flash_message }}
                    </div>
                {% endfor %}
                {% block body %}{% endblock %}
            </main>
            <div style="clear:both"></div>
        </div>

        {% include "inc/footer.html.twig" %}

    </body>
</html>
