<div id="cntFooter">
    <footer id="footer" class="wrap_cnt">
        <div id="footer_left">
            Pie izq
        </div>    
        <div id="footer_center">
            Hibentus
        </div>
        <div id="footer_right">
            <p>&copy; Javi y Dani</p>
        </div>
    </footer>
</div>